<div class ="row justify-content-center">
<form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div id="legend">
        <legend class="">{{ 'page.userRegistration.registerUser' | translate}}</legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="name">{{ 'page.users.name' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.name" type="text" id="name" name="name" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="LastName">{{ 'page.users.lastName' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.lastName" type="text" id="LastName" name="LastName" placeholder="" class="input-xlarge">
       </div>
      </div>
   
      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">{{ 'page.userRegistration.email' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.email" type="text" id="email" name="email" placeholder="" class="input-xlarge">
        </div>
      </div>
   
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">{{ 'page.login.password' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.password" type="password" id="password" name="password" placeholder="" class="input-xlarge">
       </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="address">{{ 'page.userRegistration.address' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.address" type="text" id="address" name="address" placeholder="" class="input-xlarge">
       </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="cvu">{{ 'page.userRegistration.cvu' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.cvu" type="text" id="cvu" name="cvu" placeholder="" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="cwallet">{{ 'page.userRegistration.criptoWallet' | translate}}</label>
        <div class="controls">
          <input [(ngModel)]="user.criptoWallet" type="text" id="cwallet" name="cwallet" placeholder="" class="input-xlarge">
        </div>
      </div>
      <br>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" (click)="registerUser()">{{ 'page.login.register' | translate}}</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>