<h5 class="text-center">Active Criptos</h5>
<br>

<div class="col-auto">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cripto of criptos;">
        <td>{{ cripto.name }}</td>
        <td>{{ cripto.price }}</td>
        <td>{{ cripto.date }}</td>
        <td><button class="btn btn-success">Buy</button> - <button class="btn btn-info">Sell</button></td>
    </tr>
    </tbody>
    </table>
</div>


