<h5 class="text-center">{{ 'page.users.title' | translate}}</h5>
<br>

<div class="col-auto">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{{ 'page.users.id' | translate}}</th>
        <th scope="col">{{ 'page.users.name' | translate}}</th>
        <th scope="col">{{ 'page.users.lastname' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users;">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
    </tr>
    </tbody>
    </table>
</div>
