<h5 class="text-center">Sell/Buy Activities</h5>
<br>

<div class="col-auto">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Cripto</th>
        <th scope="col">Cripto Count</th>
        <th scope="col">Cripto Price</th>
        <th scope="col">Operation Amount</th>
        <th scope="col">User</th>
        <th scope="col">Operation Count</th>
        <th scope="col">Reputation Points</th>
    </tr>
    </thead>
    <tbody style="cursor: pointer;">
    <tr *ngFor="let activity of activities;" (click)="transaction(activity.id)">
        <td *ngIf="activity.type == 1">Buy</td>
        <td *ngIf="activity.type == 2">Sell</td>
        <td>{{ activity.dateTimeFormatted }}</td>
        <td>{{ activity.cripto }}</td>
        <td>{{ activity.criptoCount }}</td>
        <td>{{ activity.criptoPriceFormatted }}</td>
        <td>{{ activity.operationAmountFormatted }}</td>
        <td>{{ activity.user }}</td>
        <td>{{ activity.operationCount }}</td>
        <td *ngIf="activity.reputationPoints != 0">{{ activity.reputationPoints }}</td>
        <td *ngIf="activity.reputationPoints == 0">No Operations</td>
    </tr>
    </tbody>
    </table>
</div>
