<h5 class="text-center">{{ 'page.header.prices' | translate}}</h5>
<br>

<p class="text-right text-info" *ngIf="updated">{{ 'page.criptos.lastTimeUpdated' | translate}} {{ timeUpdated.toLocaleString() }}</p>
<div class="col-auto">
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">{{ 'page.criptos.name' | translate}}</th>
        <th scope="col">{{ 'page.criptos.price' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of prices;">
        <td>{{ price.symbol }}</td>
        <td>{{ price.price }}</td>
    </tr>
    </tbody>
    </table>
</div>
