@import 'material-icons/iconfont/material-icons.css';

.invalid-field{
    border: 1px solid red;
}

.showCard{
    display: none;
}

.showTable{
    display: block;
}

@media (max-width: 875px) {
    .showCard {
      display: block;
    }
    .showTable {
        display: none;
    }
}